<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope, $http) {
		$scope.adventure=0;
		$scope.page="start";
		$scope.pages= [];
		$scope.update = function() {
			if ($scope.pages.every(function(elt) { return elt != $scope.page; })) {
				$scope.pages.push($scope.page);
			}
			$http.post("/a/" + $scope.adventure + "/pages/" + $scope.page + "/raw",{ "raw": $scope.raw })
				 .then(function(response) {
					$scope.links = response.data.links;
				});
		}
		$scope.load = function($target) {
			$scope.page= $target;
			$http.get("/a/" + $scope.adventure + "/pages/" + $scope.page +"/raw").then(function(response) {
				$scope.raw = response.data.raw;
				$scope.links = response.data.links;
			});
			$http.get("/a/" + $scope.adventure + "/pages").then(function(response) {
				$scope.pages = response.data.pages;
			});
		}
		$scope.delete = function() {
			$http.delete("/a/" + $scope.adventure + "/pages/" + $scope.page + "/raw",{ "raw": $scope.raw })
				 .then(function(response) {
				 	$scope.load("start");
				});

		}
		$scope.load($scope.page);
	});
</script>

<div ng-app="myApp" ng-controller="myCtrl">
 	Raw Page for node "{{page}}":<br/>
	<input type="text" ng-model="raw"><br/>
	<button ng-click="update()">Send</button>
	<button ng-click="load(page)">Revert</button>
	<button ng-click="delete()">Delete</button><br/>
	<button ng-repeat="link in links" ng-click="load(link)">{{link}}</button>
	<br/>
	<div>
		<button ng-repeat="page in pages" ng-click="load(page)">{{page}}</button>
	</div>
	<div>
		<ul>
			<li>Input field: To type text. Use brackets anywhere to declare targets.</li>
			<li>Save: Send the current text to the server and generate the links</li>
			<li>Revert: Cancel all changes and load back the original saved text</li>
			<li>Delete: delete the current node (and load "start" node) CANNOT BE REVERTED</li>
			<li>(node_name): Start editing that node</li>
			<li>the first line contains the targets of the current node</li>
			<li>the second line contains all saved nodes</li>
		</ul>
	</div>
</div>
</body>
</html>
